nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 45px;
    width: $content-width;
    margin: 0 auto;
    padding-right: 850px;

    a {
        text-decoration: none;
        color: $site-gray;
    }

    a :hover {
        color: #000;
    }
}

.icon {

    img {
        height: 20px;
    }
}