@import 'variables.scss';
@import 'mixins.scss';
@import 'structure.scss';
@import 'nav.scss';
@import 'footer.scss';
@import 'home/home-hero.scss';
@import 'home/home-multicard.scss';
@import 'products/products-top.scss';
@import 'products/products-bottom.scss';
@import 'solutions/solutions-hero.scss';
@import 'solutions/solutions-bottom.scss';
@import 'industries/industries.scss';
@import 'foryou/foryou.scss';