@include second-nav();

.products-top {
    width: 100%;
    background-color: #000;
    padding: 75px 0; 

    .products-top-title {
        font-size: 45px;
        color: #fff;
        text-align: center;
        margin-bottom: 75px;
    }

    .products-card-row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: $content-width;
        margin: 0 auto;
        margin-bottom: 100px;

        .products-card {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 539px;

            img {
                width: 630px;
                height: 354px;
                object-fit: cover;
            }

            h2 {
                font-size: 28px;
                color: #fff;
            }

            .products-btn {
                @include site-button()
            }
        }
    }

    hr {
        color: #7b7b7b;
        width: $content-width;
        margin: 0 auto;
    }

    .disclaimer {
        text-align: center;
        color: #7b7b7b;
        width: 45%;
        font-size: 11px;
        margin: 75px auto;
    }
}

@media screen and (max-width: 1400px) {
    .products-card-row {
        flex-direction: column;
    }
}