.solutions-bottom {

    .solutions-bottom-info {
        text-align: center;
        max-width: 1070px;
        font-size: 22px;
        line-height: 40px;
        margin: 90px auto 40px auto;
        padding: 0 30px;
    }
    .img-div {
        height: 479px;
        width: 850px;
        background-image: url(../images/solutions-video.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
    }
    
    .img-desc {
        width: 850px;
        margin: 30px auto;
        

        .solutions-bottom-vidtitle {
            font-size: 28px;
            font-weight: bold;
        }

        .solutions-bottom-subtitle {
            color: $site-green;
            font-weight: bold;
        }
    }
}