.home-multicard {
    text-align: center;
    background-color: #eeeeee;
    padding: 60px 0;

    h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .multicard-row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 1275px;

        .multicard-card {
            height: 365px;
            width: 295px;
            box-shadow: 0 0 2px 0 rgba(0,0,0,0.19),0 2px 6px 0 rgba(0,0,0,0.19);

            a {
                img {
                    height: 45%;
                    width: 100%;
                    border-radius: 5px 5px 0 0;
                    object-fit: cover;
                }
            }
            

            .multicard-bottom {
                background-color: #fff;
                height: 55%;
                width: 100%;
                border-radius: 0 0 5px 5px;
                text-align: left;
                padding: 20px 18px;

                h2 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }
}