.home-hero {
    width: 100%;
    min-height: 580px;
    background-image: url("../images/home-hero.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    .infobox {
        color: #fff;
        width: 640px;
        margin-left: 50%;
        padding: 30px;

        .infobox-title {
            font-size: 42px;
            font-weight: bold;
        }

        .infobox-subtitle {
            font-size: 25px;
            font-weight: bold;
        }

        .infobox-desc {
            font-size: 22px;
            line-height: 45px;
            margin-bottom: 25px;
        }

        .infobox-button {
            @include site-button()
        }
    }
}