.ind-nav-container {
    background-color: #000;
    
    .ind-nav {
        height: 75px;
        width: $content-width;
        display: flex;
        align-items: center;
        padding-left: 160px;

        .ind-nav-header {
            margin-top: 13px;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }

        a {
            color: #7b7b7b;
            text-decoration: none;
            font-size: 17px;
        }
    }
}  

.industries-hero {
    height: 460px;
    width: 100%;
    background-image: url(../images/industries-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px;

    .ind-hero-title {
        font-size: 35px;
        color: #fff;
        max-width: 515px;
    }
}

.industries-bottom {
    height: 570px;
    max-width: 1070px;
    margin: 0 auto;
    text-align: center;
    padding: 95px 20px;

    .ind-bottom-title {
        font-size: 35px;
        font-weight: bold;
    }

    .ind-bottom-desc {
        font-size: 22px;
        line-height: 35px;
    }

    .ind-buttons-container {
        max-width: 540px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;

        .ind-button {
            @include site-button();
        }
    }
}